#gameContent {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas:
        "gameHeader gameHeader"
        "gameOrders gameData"
        "gameItems gameItems";
    grid-template-columns: 0.2fr 0.8fr;
    grid-template-rows: 0.1fr 0.8fr 0.1fr;
}

.gameHeader {
    grid-area: gameHeader;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #ffebb7;

    p,
    h1 {
        margin: 0;
        padding: 0;

        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.gameOrders {
    grid-area: gameOrders;
    p {
        margin: 0;
        padding: 10px;
        text-align: center;
        color: #fff;
        background: $buttonColor;
    }

    .showItem {
        width: 150px;
        img {
            width: 100%;
        }
    }

    .createdItems {
        display: grid;
        width: 100%;
        margin: 0 auto;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px;

        img {
            border: 5px solid #fff;
            max-width: 50%;
            height: auto;
        }
    }
}

.gameData {
    position: relative;
    grid-area: gameData;
    width: 100%;

    .gameAll {
        position: relative;

        .saruBot {
            position: absolute;
            top: -35%;
            left: 1%;
            width: 70px;
            opacity: 0;
            img {
                width: 100%;
            }
            .saruText {
                font-size: 16px;
                opacity: 0;
                position: absolute;
                top: 0;
                left: 6vw;
                width: 10vw;
                margin: 0;
                padding: 10px;
                background-color: #fff;
                border-radius: 15px;
            }
            .saruText:before {
                content: "";
                position: absolute;
                top: 30%;
                right: 100%;
                margin-top: -5px;
                border: 15px solid transparent;
                border-right: 15px solid #fff;
            }
        }

        .itemContent {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 300px;
        }
    }

    .gameUsagi {
        position: relative;
        background: url("~/img/backgrounds/mori.png") 100% center;
        height: 100%;
        background-size: cover;
        img {
            width: 100%;
        }

        .hashigoTop,
        .saru {
            position: absolute;
            transform: translate(-50%, -50%);
            z-index: 3;

            img {
                width: 100%;
            }
        }

        .hashigoTop {
            opacity: 0;
            left: 48%;
            // top: 70%;
            width: 75px;
        }

        .saru {
            opacity: 1;
            left: 5%;
            top: 90%;
            width: 75px;
        }
    }

    .gameKuma {
        position: relative;
        background: url("~/img/backgrounds/buildings.png") 100% center;
        height: 100%;
        background-size: cover;
        img {
            width: 100%;
        }
    }

    .gameRisu {
        position: relative;
        background: url("~/img/backgrounds/clouds.png") 100% center;
        height: 100%;
        background-size: cover;
        img {
            width: 100%;
        }
    }
}

.gameItems {
    position: relative;
    grid-area: gameItems;
    display: grid;
    grid-template-columns: 0.2fr 0.8fr;

    .selectItem {
        p {
            margin: 0 auto;
            padding: 10px;
            padding: 10px auto;
            text-align: center;
            color: #fff;
            background: $buttonColor;

            span {
                width: 100%;
                height: 100%;
                padding-left: 10%;

                &:hover {
                    cursor: $cursorChange;
                }
            }
        }

        p:nth-of-type(2) {
            margin: 50px auto 0;
            width: 200px;
            background: #fff;
        }
        .nabe {
            padding: 10px;
            border: 5px solid #fff;
        }
    }

    .itemList {
        width: 50%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        img {
            cursor: $cursorChange;
            width: 50%;
            padding: 10px;
            border: 5px solid #fff;
        }

        p {
            text-align: center;
        }
    }

    .itemList2 {
        // opacity: 0;
        width: 300px;
        height: 150px;
        position: fixed;
        bottom: 5%;
        left: 0;
        overflow: hidden;
    }
}

.modal {
    position: relative;
    .modalData {
        border-radius: 20px;
        background: #fff;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    h1 {
        text-align: center;
    }

    .modalContent {
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 0.5fr 1fr 0.5fr;

        h1 {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
