#gameContent {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas:
        "gameHeader gameHeader"
        "gameOrders gameData"
        "gameItems gameItems";
    grid-template-columns: 0.25fr 0.75fr;
    grid-template-rows: 0.1fr 0.8fr 0.1fr;

    @include tablet {
        grid-template-columns: 0.25fr 0.75fr;
        grid-template-rows: 0.2fr 0.7fr 0.05fr;
    }
}

.gameHeader {
    grid-area: gameHeader;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #ffebb7;

    p,
    h1 {
        margin: 0;
        padding: 0;

        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.gameOrders {
    grid-area: gameOrders;
    p.orderTitle {
        margin: 0;
        padding: 10px;
        text-align: center;
        color: #fff;
        background: $buttonColor;
    }

    .showItem {
        width: 150px;
        img {
            width: 100%;
        }
    }

    .createdItems {
        // display: grid;
        // width: 100%;
        // margin: 0 auto;
        // grid-template-columns: repeat(2, 1fr);
        // grid-gap: 50px;
        width: 30%;
        margin: 5vh auto;
        text-align: center;

        @include tablet {
            width: 50%;
        }

        img {
            border: 5px solid #fff;
            width: 50%;
            height: auto;

            @include tablet {
                width: 35%;
            }
        }
    }
}

.gameData {
    position: relative;
    grid-area: gameData;
    width: 100%;

    .gameAll {
        position: relative;

        .saruBot {
            position: absolute;
            top: -35%;
            left: 1%;
            width: 70px;
            opacity: 0;

            @include tablet {
                width: 55px;
                top: -50%;
            }

            img {
                width: 100%;
            }
            .saruText {
                font-size: 1.6rem;
                opacity: 0;
                position: absolute;
                top: 0;
                left: 6vw;
                width: 150px;
                margin: 0;
                padding: 10px;
                background-color: #fff;
                border-radius: 15px;

                @include tablet {
                    left: 8vw;
                    top: -5%;
                    font-size: 1.4rem;
                }
            }
            .saruText:before {
                content: "";
                position: absolute;
                top: 30%;
                right: 100%;
                margin-top: -5px;
                border: 15px solid transparent;
                border-right: 15px solid #fff;
            }
        }
    }

    .gameUsagi {
        position: relative;
        background: url("~/img/backgrounds/mori.png") 100% center;
        height: 100%;
        background-size: cover;
        img {
            width: 100%;
        }

        .hashigoTop,
        .saru {
            position: absolute;
            transform: translate(-50%, -50%);
            z-index: 3;

            img {
                width: 100%;
            }
        }

        .hashigoTop {
            opacity: 0;
            left: 48%;
            // top: 70%;
            width: 75px;

            @include tablet {
                width: 55px;
            }
        }

        .saru {
            opacity: 1;
            left: 5%;
            top: 90%;
            width: 75px;

            @include tablet {
                width: 50px;
            }
        }

        .itemContent {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 300px;

            @include tablet {
                top: 60%;
                width: 200px;
            }
        }
    }

    .gameKuma {
        position: relative;
        background: url("~/img/backgrounds/buildings.png") 100% center;
        height: 100%;
        background-size: cover;
        img {
            width: 100%;
        }

        .elevatorClose,
        .elevatorOpen,
        .cushion,
        .saru {
            position: absolute;
            transform: translate(-50%, -50%);
            z-index: 3;

            img {
                width: 100%;
            }
        }
        
        .hashigoTop {
            opacity: 0;
            left: 48%;
            // top: 70%;
            width: 75px;

            @include tablet {
                width: 55px;
            }
        }

        .elevatorClose, .elevatorOpen {
            opacity: 0;
            left: 50%;
            top: 74%;
            width: 75px;

            @include tablet {
                width: 55px;
            }
        }

        .cushion {
            opacity: 0;
            right: 35%;
            top: 80%;
            width: 75px;

            @include tablet {
                width: 55px;
            }
        }

        .saru {
            opacity: 1;
            left: 5%;
            top: 75%;
            width: 65px;

            @include tablet {
                width: 45px;
            }
        }

        .itemContent {
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 250px;

            @include tablet {
                top: 10% !important;
                width: 200px;
            }

            img {
                position: absolute;
            }

            img:nth-of-type(1) {
                width: 100%;
            }

            #kuma {
                width: 30%;
                right: 30%;
                // transform: scaleX(-1);
            }
        }
    }

    .gameRisu {
        position: relative;
        background: url("~/img/backgrounds/clouds.png") 100% center;
        height: 100%;
        background-size: cover;
        img {
            width: 100%;
        }

        .hashigoTop, 
        .cushion, 
        .elevatorClose,
        .elevatorOpen,
        .kikyuu,
        .koukyuu,
        .otya,
        .saru{
            opacity: 0;
            position: absolute;
        }

        .saru {
            opacity: 1;
            left: 5%;
            top: 80%;
            width: 65px;

            @include tablet {
                width: 50px;
            }
        }

        .itemContent {
            position: relative;
            top: 50%;
            left: 50%;
            // transform: translate(-50%, -50%);
            width: 250px;

            @include tablet {
                left: 30%;
                top: 35%;
            }
        }

        .hashigoTop {
            left: 48%;
            // top: 70%;
            width: 50px;

            @include tablet {
                width: 40px;
            }
        }

        .elevatorClose, .elevatorOpen {
            left: 45%;
            top: 80%;
            width: 75px;

            @include tablet {
                width: 55px;
            }
        }

        .cushion {
            right: 35%;
            top: 80%;
            width: 75px;

            @include tablet {
                width: 55px;
            }
        }

        .kikyuu {
            left: 45%;
            top: 65%;
            width: 100px;

            @include tablet {
                width: 70px;
            }
        }

        .koukyuu {
            left: 20%;
            top: 80%;
            width: 120px;

            @include tablet {
                width: 100px;
            }
        }

        .otya {
            left:9%;
            top: 82%;
            width: 45px;

            .favorite{
                opacity: 0;
                position: absolute;
                bottom: 80%;
                right: 6%;
            }

            @include tablet {
                width: 33px;
            }
        }
    }
}

.gameItems {
    width: 100%;
    position: relative;
    grid-area: gameItems;
    display: grid;
    grid-template-columns: 0.25fr 0.75fr;

    .selectItem {
        p {
            margin: 0 auto;
            padding: 10px;
            padding: 10px auto;
            text-align: center;
            color: #fff;
            background: $buttonColor;

            span {
                width: 100%;
                height: 100%;
                padding-left: 10%;

                &:hover {
                    cursor: $cursorChange;
                }
            }
        }

        p:nth-of-type(2) {
            margin: 25px auto 50px;
            width: 200px;
            background: #fff;
        }
        .nabe {
            position: relative;
            z-index: 2;
            padding: 0;
            border: 5px solid #fff;

            &.nabeMove {
                animation: nabeMove 0.5s;
            }
        }
    }

@keyframes nabeMove {
    0% {
        transform: rotate(360deg);
    }
    25% {
        transform: rotate(345deg);
    }
    50% {
        transform: rotate(360deg);
    }
    75% {
        transform: rotate(355deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

    .itemList3 {
        width: 90%;
        display: grid;
        margin: 0 auto;
        grid-template-columns: repeat(8, 1fr);

        @include tablet {
            grid-template-columns: repeat(7, 1fr);
        }

        img {
            cursor: $cursorChange;
            width: 50%;
            height: auto;
            padding: 10px;
            border: 5px solid #fff;
            border-radius: 16px;
            box-shadow: -5px 5px 3px rgba(0, 0, 0, 0.25);
        }

        p {
            text-align: center;
        }
    }

    .itemList {
        width: 90%;
        display: grid;
        margin: 0 auto;
        grid-template-columns: repeat(8, 1fr);

        @include tablet {
            grid-template-columns: repeat(5, 1fr);
        }

        img {
            cursor: $cursorChange;
            width: 50%;
            height: auto;
            padding: 10px;
            border: 5px solid #fff;
            border-radius: 16px;
            box-shadow: -5px 5px 3px rgba(0, 0, 0, 0.25);
        }

        p {
            text-align: center;
        }
    }

    .itemList2 {
        // opacity: 0;
        margin: 0;
        padding: 0;
        width: 300px;
        height: 80px;
        position: fixed;
        bottom: 2%;
        left: 5%;
        overflow: hidden;
        grid-template-columns: repeat(3, 1fr);
        z-index: 5;
        border: 0.5px solid gray;
        border-radius: 16px;
        background: #fff;

        @include tablet {
            width: 250px;
            height: 60px;
            left: 1%;
        }

        p{
            margin: 0;
            padding: 5px;
        }

        img {
            margin: 0;
            padding: 0;
            background-color: #fff;
            box-shadow: none;
        }
    }
}

.modal {
    position: relative;
    .modalData {
        border-radius: 20px;
        background: #fff;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    h1 {
        text-align: center;
    }

    .modalContent {
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 0.5fr 1fr 0.5fr;

        h1 {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
