.welcomeGsap{
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: -1;
    .bird{
        width: 10vw;
        position: absolute;
        bottom: 50%;
        right: -10%;
    }
    .bird2{
        width: 10vw;
        position: absolute;
        bottom: 60%;
        right: -10%;
    }
    .welcomeSaru{
        width: 10vw;
        position: absolute;
        bottom: -25%;
        left: 10%;

        @include tablet {
            bottom: -18%;
        }
    }
}