
.welcomeGsap{
        width: 100vw;
        height: 100vh;
        position: relative;
        z-index: -1;
        .bird{
            width: 12vw;
            position: absolute;
            bottom: 50%;
            right: -12%;
        }
        .bird2{
            width: 12vw;
            position: absolute;
            bottom: 60%;
            right: -12%;
        }
        .welcomeSaru{
            width: 10vw;
            position: absolute;
            bottom: -25%;
            left: 10%;
        }
    }
.welcomeBackgroundGsap{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    overflow: hidden;
    .WelcomeKumo{
        width: 15vw;
        position: absolute;
        top: 13%;
        left: -15%;
    }
    .WelcomeKumo2{
        width: 17vw;
        position: absolute;
        top: 17%;
        right: -17%;
    }
}